/* Feuille CSS de la page accueil.html */

/* BODY */

body {
	top: 100px;
	font-family:Arial;
	margin:auto;
	width:1000px;
	background:url('../images/wowww.jpg') no-repeat center fixed;
	-webkit-background-size:cover ;
	-webkit-backdrop-filter: blur(15px);

	/*background-size:contain;*/	
}

/* HEADER */

header {
	top: 100px;
	width:1000px;
	height: 150px;
	padding:10px;
	/*background:url('../images/onnn.jpg');
	background-size: cover;
	background-color:rgb(8, 8, 8);*/
	background:url('../images/fn.jpg') no-repeat center ; 
	margin-bottom: 30px;

}

.logo {
width: 100px;
height: 70px;
}

#pp {
	color: aliceblue;
	width: 1000px;
	text-align: center;
	font-weight: bold;
}
#searchbar {
    width: 400px;
    display:inline-block;
    float: right;
    top: 10px;
    height: 30px;
    position: relative;
	border-radius: 20px;


}

header img {
	width:170px;
	height:120px;
}

header a {
	display:inline-block;
	width:25%;
}



/* NAV */

#mainNav {
/*	background:url('../images/fdO.jpg');
	background-size: cover;
	background-color:rgb(8, 8, 8);*/
	background:url('../images/fn.jpg') no-repeat center ; 


}

nav {

	width:1000px;
	padding:10px;
}

nav img {
	width:25px;
	height:25px;
	position:relative;
	top:5px;
}

/* liens cliquables */

.menuLink {
	background-color: rgb(108, 158, 187);
	position:relative;
	bottom:10px;
	text-decoration:none;
	font-weight:bold;
	color:black;
	padding:7px;
	border:2px black solid;
	border-radius:4px;
	margin-right:10px;
	transition: margin-right 2s;
}

/* menu de gauche (lien vers page message) */


#menusMessage {
	display:inline-block;
	width:150px;
	margin-right:20px;
}

/* menu central (pages publication/recherche annonce) */

#Annonce {
	display:inline-block;
	margin-right:50px;
	width:500px;
    left: 130px;
    position: relative;
}

/* menu de droite (accès compte(page inscription et connexion)) */

#menusCompte {
	display:inline-block;
	width:200px;
	float:right;

}


#menu {
	display: inline-block;
	position: relative;
	/*background-color: rgb(135, 222, 218);*/
	width: 1000px;
	height: 20px;
	
}
/* MAIN */

main {
	width:1000px;
	height:1200px;
	padding:10px;
	margin-top:30px;
	color:rgb(187, 171, 171);
	font-size:18px;
	/*background-color:rgb(5, 5, 5);*/	
	background:url('../images/fn.jpg') no-repeat center ; 
	/*background-color:rgb(0, 0, 0);*/
	-webkit-background-size:cover ;



}

 h2 {
	color:rgb(56, 60, 63);
	position:relative;
	font-family:monospace;
	text-align: center;
	background-color: rgb(108, 158, 187);

}

main h3 {
	color:rgb(108, 158, 187);
}

.intro {
	position:relative;
	left:15px;
}

#an1 {
	width:1000px;
	display:block;
	position:relative;
	border:2px solid rgb(7, 7, 7);
	margin-bottom: 40px;
}
#an1 img{
	width:300px;
    height: 200px;
	transition: transform .5s;
	
}

#an1_pic {
	display:inline-block;
	width:300px;
    position:relative;
	background-color:rgb(5, 5, 5);	
	transition: transform .5s;

}

#an1_text {
	float:right;
	display:inline-block;
	width:680px;
    height: 180px;
	right:10px;
    padding:10px;
	/*background-color:rgb(5, 5, 5);	*/
	background:url('../images/fn.jpg') no-repeat center ; 
    /*border:2px dashed orange;*/
}


.an {
	width:170px;
	height:170px;
}

main a {
	text-decoration:none;
	font-weight:bold;
	color:white;
}

.ann {
	width:150px;
	height:100px;
}

/* footer */

footer {
	width:1000px;
	padding:10px;
	margin-top:30px;
	margin-bottom:10px;
	/*background:url('../images/fdO.jpg');
	background-color:rgb(8, 8, 8);*/
	background:url('../images/fn.jpg') no-repeat center ; 


}
.banniere {

	border: solid 2px rgb(108, 158, 187);
	background-color: rgb(32, 35, 39);
	border-radius:20px;
	margin: 10px;
	position: fixed;
	bottom: 0;
	left: 30px;
	right: 0;
	width: 90%;
	height: 10%;
	color: white;
	display:flex;
	justify-content: space-around;
	padding: 30px;
}
.text_banniere{
	display:block;
	position:relative;
	width: 1000px;
	bottom:2Opx;

}
.boutonmenuprincipal {
	background-color: rgb(108, 158, 187);
	color: rgb(15, 15, 15);
	font-weight:bold;
	border: none;
	cursor: pointer;
	padding:10px;
	margin-top:20px;
	margin-left:240px;
	font-size: 20px;
	display:block;
	position: relative;
	float: right;
	left: 300px;
	height: 40px;
	}
	.boutonmenuprincipal:hover {
	background-color: rgb(108, 158, 187);
	}
	.dropdown {
	position: relative;
	display: inline-block;
	}
	.dropdown-child {
	display: none;
	background-color: rgb(93, 109, 119);
	min-width: 20px;
	position: relative;
	left: 500px;
	width: 200px;
	}
	.dropdown-child a {
	color: white;
	padding: 10px;
	text-decoration: none;
	display: block;
	position: relative;
	
	}
	.dropdown:hover .dropdown-child {
	display: block;
	}
.text_banniere{
	text-align: center;
	font-size: large;
	bottom:2Opx;
}
#b1 {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	width: 400px;
	color: rgb(93, 110, 121);
}
#b2 {
	display: inline-block;
	position: relative;
	right: 52px;
	margin-bottom: 30px;
	width: 500px;
	color: rgb(93, 110, 121);


}
#b3{
	display: inline-block;
	position: relative;
	right: 10px;
	margin-bottom: 30px;
	width: 400px;

}
.cb {
	text-decoration: none;
	background-color: rgb(108, 158, 187);
	position:relative;
		bottom:10px;
		font-weight:bold;
		color:black;
		padding:7px;
		border:2px black solid;
		border-radius: 20px;
	}
#filtreBtn{
	position: relative;
	right: 40;
}

#cb1 {

width: 50px;
}

#cb2 {
	width: 80px;
margin-left: 150px;
}

#cb3 {

	width: 70px;

}


	.button_Composant {
		display: block;
		position: relative;
		text-decoration:none;
		width: 1000px;
	}
#tb {
text-decoration: none;
background-color: rgb(108, 158, 187);
position:relative;
	bottom:10px;
	font-weight:bold;
	color:black;
	padding:7px;
	border:2px black solid;
	border-radius:4px;
	margin-right:10px;
}

.button_banniere {
	display: block;
	position: relative;
	text-decoration:none;
	top: 20px;
}
.button_banniere {

}
footer img {
	width:170px;
	height:120px;
}

footer a {
	display:inline-block;
}

footer p {
	font-weight:bold;
	font-style:italic;
	position:relative;
	color:rgb(75, 129, 122);
	display:inline-block;
	width:70%;
	float:right;
}
#fp {
	display:block;
	position: relative;
	top: 40px;
}
